<template>
  <div>
    <div>
      Listing des nonogrammes
      <ul>
        <li
          v-for="(picross, index) in picrossList"
          :key="'picross-' + index"
          style="cursor: pointer"
          @click="selectPicross(picross)"
        >
          {{ picross.title }}
        </li>
      </ul>
    </div>

    <picross-player
      v-if="picrossSelected"
      :picross-data="picrossSelected"
      @victory="displayVictory = true"
    />

    <h1
      v-if="displayVictory"
    >
      Victoire !!!
    </h1>

  </div>
</template>

<script>
// @ is an alias to /src
import PicrossPlayer from '../components/PicrossPlayer.vue'

export default {
  name: 'Game',
  components: {
    'picross-player': PicrossPlayer
  },
  data () {
    return {
      picrossList: [],
      picrossSelected: null,
      displayVictory: false
    }
  },
  methods: {
    async loadDataPicross () {
      fetch('/picross.json')
        .then(response => (response.json()))
        .then(picrossArray => { this.picrossList = picrossArray })
    },
    selectPicross (picross) {
      this.picrossSelected = picross
      this.displayVictory = false
    }
  },
  mounted () {
    this.loadDataPicross()
  }
}
</script>

<style scoped>
h1 {
  position: absolute;
  width: 40rem;
  font-size: 5rem;
  top: 10rem;
  padding: 2rem;
  left: calc(50% - 21rem);
  background-color: whitesmoke;
  text-align: center;
}
</style>
