<template>
  <table>
    <tr :key="'r0'">
      <td v-for="column in (picrossData.size.columns + 1)"
          :key="'r0' + 'c' + (column)"
          style="border-bottom: 2px solid black"
      >
        <span v-if="column > 1">
          {{picrossData.data.columns[column - 2].join('')}}
        </span>
      </td>
    </tr>
    <tr v-for="row in (picrossData.size.rows)"
        :key="'r' + (row)">
      <td :key="'r' + (row) + 'c0'"
          style="border-right: 2px solid black"
      >
        <span>
          {{picrossData.data.rows[row - 1].join('')}}
        </span>
      </td>
      <td
        v-for="cellIndex in (picrossData.size.columns)"
        :key="'r' + (row) + 'c' + (cellIndex)"
        :class="isCellSelected(row, cellIndex) ? 'selected' : ''"
        @click="toggleCell(row, cellIndex)"
      >
      </td>
    </tr>
  </table>
</template>

<script>
import PicrossEditor from './PicrossEditor.vue'

export default {
  extends: PicrossEditor,
  name: 'PicrossPlayer',
  props: {
    picrossData: {
      type: Object
    }
  },
  computed: {
    isPicrossFinished () {
      const {
        data: {
          rows: currentRows,
          columns: currentColumns
        }
      } = this.currentPicrossData

      const {
        data: {
          rows: picrossRows,
          columns: picrossColumns
        }
      } = this.picrossData

      const currentRowsJoined = currentRows.map(cr => cr.join('-')).join('|')
      const currentColumnsJoined = currentColumns.map(cr => cr.join('-')).join('|')
      const picrossRowsJoined = picrossRows.map(cr => cr.join('-')).join('|')
      const picrossColumnsJoined = picrossColumns.map(cr => cr.join('-')).join('|')
      return currentRowsJoined === picrossRowsJoined && currentColumnsJoined === picrossColumnsJoined
    }
  },

  watch: {
    isPicrossFinished (newValue) {
      if (newValue === true) {
        this.$emit('victory')
      }
    },

    picrossData: {
      handler () {
        this.makeSelectedCells(this.picrossData.size.rows, this.picrossData.size.columns)
      },
      immediate: true
    }
  }
}

</script>
