<template>
  <table>
    <tr :key="'r0'">
      <td v-for="cellIndex in (numberCells? (numberCells + 1) : 0)"
          :key="'r0' + 'c' + (cellIndex)"
          style="border-bottom: 2px solid black">
      </td>
    </tr>
    <tr v-for="rowIndex in numberRows"
        :key="'r' + (rowIndex+1)">
      <td :key="'r' + (rowIndex+1) + 'c0'"
          style="border-right: 2px solid black">
      </td>
      <td v-for="cellIndex in numberCells"
          :key="'r' + (rowIndex+1) + 'c' + (cellIndex+1)"
          :class="isCellSelected(rowIndex, cellIndex) ? 'selected' : '' "
          @click="toggleCell(rowIndex, cellIndex)">
      </td>
    </tr>
  </table>
</template>

<script>
export default {
  name: 'PicrossEditor',

  props: {
    numberRows: Number,
    numberCells: Number
  },

  data () {
    return {
      selectedCells: null
    }
  },

  computed: {
    toColumnTab () {
      const columnTab = []
      for (let i = 0; i < this.selectedCells.length; i++) {
        for (let j = 0; j < this.selectedCells[i].length; j++) {
          if (!columnTab[j]) {
            columnTab.push([])
          }
          columnTab[j].push(this.selectedCells[i][j])
        }
      }
      // console.log(nono.data)
      // console.log(columnTab)
      return columnTab
    },

    nonoData () {
      return {
        data: {
          rows: this.toInstructions(this.selectedCells),
          columns: this.toInstructions(this.toColumnTab)
        },
        size: {
          rows: this.toInstructions(this.selectedCells).length,
          columns: this.toInstructions(this.toColumnTab).length
        }
      }
    }
  },

  methods: {
    isCellSelected (rowRange, cellRange) {
      return this.selectedCells?.[rowRange - 1]?.[cellRange - 1]
    },

    toggleCell (rowRange, cellRange) {
      if (rowRange > 0 && cellRange > 0) {
        this.$set(this.selectedCells[rowRange - 1], cellRange - 1, !this.isCellSelected(rowRange, cellRange))
      }
    },

    makeSelectedCells (numberRows, numberCells) {
      const selectedCells = []
      for (let i = 0; i < numberRows; i++) {
        const currentRow = new Array(numberCells).fill(false, 0, numberCells)
        selectedCells.push(currentRow)
      }
      this.selectedCells = selectedCells
    },

    createSelectedCells () {
      this.makeSelectedCells(this.numberRows, this.numberCells)
    },

    toInstructions (cellsArray) {
      const instructions = []
      cellsArray.forEach(row => {
        const line = []
        let i = 0
        while (i < row.length) {
          if (row.slice(i).indexOf(true) >= 0) {
            i = i + row.slice(i).indexOf(true)
            let cpt = 0
            while ((i < row.length) && (row[i] === true)) {
              cpt++
              i++
            }
            line.push(cpt)
          } else {
            break
          }
        }
        instructions.push(line)
      })
      return instructions
    }

  },
  watch: {
    numberRows: {
      handler: 'createSelectedCells',
      immediate: true
    },
    numberCells: {
      handler: 'createSelectedCells',
      immediate: true
    },
    selectedCells () {
      this.$emit('update-picross-data', this.nonoData)
    }
  }

}
</script>

<style scoped>
      table {
        border: 1px solid gray;
        border-collapse: collapse;
      }
      tr, td {
        height: 20px;
      }
      td {
        min-width: 20px;
        width: 20px;
        border: 1px solid gray;
      }
      td:hover {
        background-color: red;
      }
      .selected {
        background-color: blue;
      }
</style>
